@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

._nav { border-bottom: 1px solid #40ffff; z-index: 1000; background-color: #14142a; }

@layer components {
  .typing-effect {
    @apply inline-block;
    animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FFF; }
  }
}


